body,p,ul,li,a,img {
	margin: 0;
	padding: 0;
	list-style: none;
	font-family: \5FAE\8F6F\96C5\9ED1;
	text-decoration: none;
}
/*logo及导航部分*/
.header {
	width: 1350px;
	overflow: hidden;
}
.logo {
	width: 366px;
	height: 82px;
	background: #293352;
	float: left;
}
.logo img {
	margin-left: 20px;
}
.nav{
	height: 82px;
	width:984px;
	float: right;
}
.nav_top{
	height: 41px;
	background: #5F6169;
	opacity: 0.65;
}
.nav_bottom{
	height: 41px;
	background: #343A53;
	opacity: 0.9;
}
.top_con,.bot_con{
	height: 41px;
	width: 1310px;
}
.top_con{
	margin-left: 10px;
}
.top_con li{
	float: left;
	padding: 0 30px;
}
.search input{
	height: 20px;
	border:0 none;
	outline-style: none;
	background: #fff;
	color: #000;
	margin: 10px 0 10px 30px;
}
.search button{
	height: 22px;
	border-radius: 10%;
	border:0 none;
	margin-left: 5px;
	padding: 0 10px;
}
.bot_con li{
	float: left;
	padding: 0 40px;
}
a{
	line-height: 41px;
	color: #fff;
}
/*轮播图部分*/
.main{
	height: 580px;
	width: 1350px;
	overflow: hidden;
	position: relative;

}
.banner{
	width: 400%;
	position: absolute;
	left:0px;
	
}
.banner ul li{
	float: left;
}
.hot{
	width: 420px;
	height: 170px;
	background: #1C1C1F;
	opacity: 0.85;
	position: absolute;
	left: 100px;
	bottom: 60px;
	overflow: hidden;
}
.hot ul{
	width: 1800px;
	position: absolute;
}
.hot ul li{
	width: 380px;
	color: #fff;
	float: left;
	padding-left: 25px;
}
.hot ul li p{
	text-indent: 2em;
	line-height: 28px;
}
.dot{
	width: 240px;
	height: 20px;
	position: absolute;
	bottom:10px;
	left:50%;
	margin-left: -120px;
}
.dot ul li{
	background: #ccc;
	width: 15px;
	height: 15px;
	border: 1px solid;
	float: left;
	margin: 0 5px;
	border-radius: 100%;
	opacity: 0.75;
	cursor: pointer;
}
.dot ul .act{
	opacity: 1;
	background: #888;
}
.dot ul li:hover{
	opacity: 1;
	background: #888;
}
.jiantou{
	width: 50px;
	height: 50px;
}
.jt-r{
	opacity: 0.5;
	position: absolute;
	left: 100%;
	margin-left: -100px;
	top:50%;
	margin-top:-25px;
	cursor: pointer;
}
.jt-l{
	opacity: 0.5;
	position: absolute;
	margin-left: 10px;
	top:50%;
	margin-top:-25px;
	cursor: pointer;
}
.jt-r:hover,.jt-l:hover{
	opacity: 1;
}
/*登录栏部分*/
.loginbar{
	width: 50px;
	height: 280px;
	background: #5F6169;
	opacity: 0.85;
	border-radius: 5%;
	position: absolute;
	left: 100%;
	margin-left: -48px;
	top:50%;
	margin-top:-140px;
}
.loginbar ul li{
	margin: 20px auto;
	line-height: 18px;
	writing-mode:vertical-lr;
}
/*页脚部分*/
.footer{
	width: 1350px;
	height: 60px;
	background: #1C1C1F;
	padding-top: 20px;
}
.footer p{
	text-align: center;
	color: #fff;
	line-height: 23px;
}
